.archive_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 850px; 
}

.backto_archive_wrapper {
  font-size: 20px;
  font-weight: 600;
  margin: 6rem 0 1rem 0;
}

.blog_list{
  display: grid; 
  grid-auto-columns: 1fr 1fr 1fr; 
  grid-auto-rows: 1fr; 
  gap: 20px 20px; 
  grid-template-areas: 
    ". . ."; 
  justify-content: center; 
  justify-items: center; 
  width: 100%; 
  margin: 9rem auto;
}

.blog_card {
  display: flex;
  flex-direction: column;
  height: 410px;
  width: 270px;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.336);
  padding: 1rem;
  border-radius: 5px;
  gap: .5rem;
  overflow: hidden;
}

.blog_card img {
  width: 240px;
  height: 160px;
  display: block;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.336);
object-fit: fill;
}

.blog_info {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 2rem;
  white-space: nowrap;
}

.blog_card h2 {
  font-size: 15px;
  margin-top: .5rem;
}

.blog_text p, 
.blog_text ul, 
.blog_text h2 {
  display: none;
  flex-direction: column;
}

p.list_display {
  display: flex;
  font-size: 14px;
  width: 240px;
  height: 75px;
  letter-spacing: .5px;
  margin: 1rem auto;
}

.blog_card button {
  background-color: var(--main-btn-color);
  outline: none;
  border: none;
  color: white;
  width: 100px;
  padding: .5rem;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto;
  transition: all .3s;
}


.blog_card button:hover {
transform: scale(1.05);
}

.load_more_btn {
  margin: auto;
  justify-content: center;
}

button#load-more-btn {
  border: none;
  outline: none;
  border: solid black 2px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: 500;
  margin: 2rem auto;
  width: 44px;
  height: 44px;
  transition: .3s;
  cursor: pointer;
  text-align: center;
}

button#load-more-btn:hover {
  background-color: var(--main-btn-color);
  color: white ;
  border: solid var(--main-btn-color) 2px;
}

.loader {
  border: 4px solid #fffefe;
  border-top: 4px solid var(--main-btn-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  animation: spin .7s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}