.index_main h1 {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  padding: 0 0 9rem 0;
}

.blog_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem auto 12rem auto;
  max-width: 900px;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 1rem 1rem 0;
  gap: .5rem;
}

.button_container button {
  border: solid 1.5px black;
  border-radius: 2px;
  background-color: transparent;
  color: black;
  transition: ease-in-out .2s;
}

.button_container button:hover {
  border: solid 1.5px var(--main-btn-color);
  background-color: var(--main-btn-color);
  color: rgb(255, 255, 255);
}

.button_container i {
  font-size: 25px;
}

.carousel_container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin: auto;
  height: 435px;
}

.scroll_icon_wrapper {
  display: none;
}

#anchor {
  padding: 5rem 0 9rem 0;
}