.footer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 3rem 0;
  gap: 2.5rem;
  width: 100%;
  text-align: center;
}

.footer_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 1.5rem;
  padding: 3rem 0;
  width: 80%;
  border-bottom: solid white 1.5px;
}

.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer_row img {
  height: auto;
  width: 11rem;
  cursor: pointer;
  object-fit: contain;
}

.footer_row ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer_row a {
  color: white;
  font-size: 17px;
  letter-spacing: 10%;
}

.footer_row a:hover {
  color: rgb(156, 156, 156);
}
.some_box {
  display: flex;
  gap: 3rem;
  text-align: center;
  margin: auto;
}

.some_icon {
  color: white;
  font-size: 27px;
}

.footer_column small {
  font-family: adam-cg-pro;
  text-decoration: underline;
  letter-spacing: 2px;
  font-size: 8px;
  color: white;
  text-underline-offset: 3px;
}