header {
  width: 100%;
  justify-content: center;
  margin: auto;
  position: sticky;
  top: 0px;
  background-color: var(--main-bg-color);
  z-index: 9;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 3rem 0 1.5rem 0;
  min-width: 850px;
  width: 55%;
}

.logo_container img {
  height: auto;
  width: 11rem;
  cursor: pointer;
  object-fit: contain;
}

.logo_container {
  justify-content: flex-start;
  display: flex;
  width: 100%;
}

.nav_box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2rem;
  
}

.nav_box a {
  color: black;
  font-family: reitam;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: ease-in-out .3s;
}

.nav_box a:hover {
  color: var(--main-btn-color);
}

/* mobile menu */ 

.mobile_menu {
  display: none;
}

.mobile_nav {
  display: none;
}

.mobile_button {
  display: none;
}

