@media screen and (max-width: 1000px) {
  /* header */
  .nav_box {
    display: none;
  }

  header {
    min-width: 30px;
    width: 100%;
  }

  .nav_container {
    width: 100%;
    min-width: 350px;
    padding-left: 2rem;
    padding-right: 2%;
    z-index: 6;
    position: relative;
    background-color: var(--main-bg-color);
  }

  .mobile_nav_box {
    display: flex;
    flex-direction: column;
    font-family: reitam;
    width: 100%;
    gap: 1.5rem;
    margin: 0;
    padding: 0 0 1rem 4rem;
  }

  .mobile_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin-top: 1rem;
  }

  .mobile_nav {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    border-top: solid 5px var(--main-btn-color);
    border-bottom: solid 5px var(--main-btn-color);
    background-color: rgba(234, 234, 234, 1);
    top: -150px;
    transition: 0.6s;
    z-index: 5;
  }

  .mobile_nav.open {
    top: 147.2px;
  }

  .mobile_svg {
    display: flex;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  /* carousel section */
  .blog_container {
    width: 100%;
    width: 564px;
  }

  .carousel_container {
    overflow-x: scroll;
    gap: 1.5rem;
  }

  .scroll_icon_wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 90%;
  }

  /* about section */
  .about_contanier {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 0 3rem 0;
    width: 100%;
  }
  .about_box h2 {
    position: relative;
    margin: 0 auto 7rem auto;
    text-align: center;
    left: 0;
    top: 0;
    font-size: 3.75rem;
    font-size: clamp(
      3.75rem,
      1.9858870967741935rem + 2.82258064516129vw,
      5.9375rem
    );
  }

  .about_box h3 {
    font-size: 25px;
    margin: 0 auto 3rem auto;
    width: 400px;
  }

  .about_box p {
    font-size: 18px;
    margin: 1rem auto;
    width: 400px;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }

  p.about_signature {
    font-size: 40px;
    margin: 4rem auto 0 auto;
    text-align: center;
  }

  .about_contanier img {
    width: 30rem;
    margin: 0 auto 0 auto;
  }

  /* contact section */

  .contact_container {
    padding: 0 0 5em 0;
  }

  .contact_box {
    width: 100%;
    flex-direction: column-reverse;
  }

  .contact_box form {
    padding: 0 20% 0 20%;
    border-radius: 0;
    width: 100%;
  }

  .contact_info_box {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    border-radius: 0;
    box-shadow: 0;
  }

  .h4_wrapper {
    display: flex;
    justify-content: center;
    margin: auto 2rem auto auto;
    width: 280px;
  }

  .info_row_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 3rem;
    margin-right: 3rem;
    width: 300px;
  }

  /*legal section */

  .legal_main {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 90%;
    justify-content: center;
    margin: 0 auto 6rem auto;
  }

  .legal_main h1 {
    margin: 5rem 0 3rem 0;
    font-size: 40px;
  }

  .legal_main h2 {
    margin: 4rem 0 0 0;
    font-size: 20px;
  }

  .legal_main p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 1.5rem 0 0 0;
    width: 90%;
    min-width: 300px;
  }

  .legal_p_bottom a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
  }

  /* archive */
  .archive_main {
    width: 100%;
  }

  .blog_list {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: ". .";
    width: 550px;
  }

  .archive_interaction_container {
    width: 550px;
    margin: auto;
  }

  .search_container {
    display: flex;
    margin-left: 60%;
  }

  .search_form i {
    position: absolute;
    right: 195px;
  }

  /* post */

  .post_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    min-width: 300px;
    width: 90%;
  }

  .blog_post_info {
    display: flex;
    flex-direction: row;
    margin: 0rem;
    text-align: initial;
    font-size: 20px;
    white-space: nowrap;
    min-width: 300px;
  }

  /* article */
  .index_main h1 {
    font-size: 50px;
    padding: 0 0 4rem 0;
  }

  .blog_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 21rem auto;
    max-width: 900px;
  }

  /* anchor tags */

  #about-anchor {
    display: block;
    position: relative;
    top: -2000px;
    visibility: hidden;
  }

  #contact-anchor {
    display: block;
    position: relative;
    top: -800px;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  /* carousel section */
  .blog_container {
    width: 100%;
    width: 270px;
  }

  .carousel_container {
    overflow-x: scroll;
    gap: 1.5rem;
  }

  .scroll_icon_wrapper {
    gap: 85%;
  }

  /* archive */
  .archive_main {
    width: 100%;
  }

  .blog_list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: ".";
    width: 250px;
  }

  .archive_interaction_container {
    width: 320px;
    margin: auto;
  }

  button.sort_menu_btn {
    top: 262px;
  }

  .search_container {
    margin-left: 50%;
  }

  .search_form i {
    position: absolute;
    right: 135px;
  }

  /* article */
  .index_main h1 {
    font-size: 22px;
    padding: 0 0 4rem 0;
  }
}

@media screen and (max-width: 500px) {
  /* header */

  .nav_container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 2%;
    padding-top: 2rem;
  }

  .logo_container img {
    width: 9rem;
    padding-top: 1rem;
  }

  .mobile_nav.open {
    top: 134px;
  }

  /* footer */

  .footer_row {
    width: 90%;
  }

  .footer_row img {
    width: 10rem;
  }

  .footer_row a {
    font-size: 15px;
    white-space: nowrap;
  }

  .some_box i {
    font-size: 23px;
  }

  /* article */

  #anchor {
    padding: 1rem 0 4rem 0;
  }

  /* archive */

  button.sort_menu_btn {
    top: 252px;
  }

  .search_error {
    height: 55vh;
    font-size: 20px;
    white-space: normal;
    text-align: center;
  }

  .search_error i {
    display: none;
  }

  /* about section */

  .about_box h2 {
    margin: 0 auto 7rem auto;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: start;
    width: 90%;
  }

  .about_box h3 {
    font-size: 25px;
    margin: 0 auto 3rem auto;
    width: 90%;
  }

  .about_box p {
    font-size: 18px;
    margin: 1rem auto;
    width: 90%;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }

  p.about_signature {
    font-size: 40px;
    margin-top: 2rem;
  }

  .about_contanier img {
    display: none;
  }

  /* contact section */

  .contact_box form {
    padding: 0 10% 0 10%;
    border-radius: 0;
    width: 100%;
  }

  /*legal section */

  .legal_main h1 {
    margin: 3rem 0 1rem 0;
    font-size: 40px;
  }

  /* post */

  .blog_post_info span {
    display: none;
  }

  .icon_hidden {
    display: inline;
  }

  /* anchor tags */

  #about-anchor {
    display: block;
    position: relative;
    top: -1300px;
    visibility: hidden;
  }

  #contact-anchor {
    display: block;
    position: relative;
    top: -750px;
    visibility: hidden;
  }
}
