.post_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  min-width: 800px;
  max-width: 1300px;
  width: 50%;
}

.post_main img {
  display: block;
}

.post_main h2 {
  font-size: 20px;
  font-family: roboto;
  font-weight: 800;
}

.blog_post_info {
  display: flex;
  flex-direction: row;
  margin: 0rem;
  text-align: initial;
  font-size: 20px;
  min-width: 800px;
  max-width: 1300px;
}

.blog_post_info i {
  font-size: 25px;
  align-items: center;
  margin: auto;
}

h2.title {
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 22px;
  font-family: adam-cg-pro;
}

.post_main p,
.post_main ul {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  height: auto;
  letter-spacing: 1px;
  margin: 2rem auto;
  list-style: decimal;
}

.post_main ul {
  line-height: 32px;
}

.blog_post_info p {
  margin: 0.5rem 0 0rem 0;
  line-height: 26px;
}

.likes {
  display: flex;
  margin-top: 0.5rem;
  font-size: 17px;
  font-weight: 600;
  white-space: nowrap;
  justify-content: flex-end;
  width: 100%;
  line-height: 26px;
}

.likes p {
  line-height: 26px;
  margin: 0 0 0 auto;
  text-align: end;
}

.blog_info_wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  white-space: nowrap;
}

.error_message {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  align-items: center;
  text-align: center;
}

.error_message i {
  font-size: 23px;
  text-align: center;
}

.image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.image-modal-content {
  position: relative;
}

.image-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #f7f7f7;
  font-size: 45px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.image-modal-close:hover {
  transform: scale(1.2);
}

.image-modal-image {
  max-width: 100%;
  max-height: 100%;
}

#likeBtn {
  border: none;
  background-color: transparent;
}

#likeBtn i {
  vertical-align: top;
}

.icon_hidden {
  display: none;
}
